
.label{
    display: inline-flex;
    font-weight: bold;
    vertical-align:middle;
    align-content: center;
    justify-content: center;
}

.check {
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
    margin-right: 20px;
}
